<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://use.fontawesome.com/5c35264e88.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="css/emojionearea.css">
  <script type="text/javascript" src="js/emojionearea.js"></script>
</head>

<body >
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyASBt91td1rPD20gtX30jP4D3r2b7DGn7A",
      authDomain: "emojionary-eeafd.firebaseapp.com",
      databaseURL: "https://emojionary-eeafd.firebaseio.com",
      projectId: "emojionary-eeafd",
      storageBucket: "emojionary-eeafd.appspot.com",
      messagingSenderId: "222294226758",
    };
    firebase.initializeApp(config);
  </script>
  <div class="form">
    <div id="error" style="color:red;">
        <div class="field-wrap">
        <label textcolor="red">
          Sorry! This username already exists!
        </label>
        <br>
      </div>
    </div>
    <div id="loginSection">
      <h1>Welcome !</h1>
      <form action="/" id="loginForm">
        <div class="field-wrap">
        <input type="text" name="username" id="username" placeholder="Username"required autocomplete="off"/>
        </div>
        <button type="submit" id="submit" class="button button-block"/>Go On!</button>
      </form>
    </div><!-- tab-content -->
    <div id="chooseMenuSection">
      <ul class="tab-group">
        <li class="tab active"><a href="#newRoomSection">New Room</a></li>
        <li class="tab" id="search"><a href="#searchRoomSection">Enter a room</a></li>
      </ul>
      <div class="tab-content">
        <div id="newRoomSection">
          <h1>Create a new room</h1>
          <form action="/newRoom" id="newRoomForm" method="post">
            <div class="top-row">
              <div class="field-wrap">
                <input type="text" id="roomName" required autocomplete="off" placeholder="Room Name"/>
              </div>
              <div class="field-wrap">

                <input type="number" id="roomMax" required autocomplete="off" placeholder="Max people"/>
              </div><!-- add is private -->
              <br>
              <button type="submit" class="button button-block"/>Create Room</button>
            </div>
          </form>
        </div>
        <div id="searchRoomSection">
          <br>
          <form action="/" method="post" id="searchform">
            <div class="field">
              <input type="text" id="searchterm" placeholder="Search room by Name, ID, creator..." />
              <button type="submit" onClick="" id="search">Find!</button>
            </div>
          </form>
          <br>
          <h1>Rooms: </h1>
          <table id="RoomSearchSectionTable" align="center" style="color:white;">
          </table>
        </div>
      </div>
    </div>
  </div> <!-- /form -->
  <div class="room">
    <div class="canvas" style="float:left;overflow:scroll">
      <button id="searchButton" style="width: 100%;background-color: transparent;border: 0;color: beige;"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></button>
      <div class="">
        <input type="text" name="spotlight" id="spotlight" placeholder="Spotlight Search" style="height: 2em;text-align: center;">

      </div>

      <div class="">
        <% for(var i=43; i<images.length; i++) {%>
       <img src="<%= images[i] %>" class="emojis" title="<%=names[i] %>"></img>
    <% } %>
      </div>
      <script type="text/javascript">
        $("#searchButton").click(function() {
          if ( $("#spotlight").css('visibility') == 'hidden' ) {
            $("#spotlight").css('visibility','visible');
          } else {
            $("#spotlight").css('visibility','hidden');

          }
        })
      </script>
      <script type="text/javascript">

      </script>



      <div id="countdown"></div>
    </div>
    <div class="container" style="overflow-x:hidden;overflow-y:hidden;height:100%; width:30%; float:right;max-height:100vh;">
      <div class="row">
        <div class="panel panel-default" style="height:100vh margin-bottom:0;">
          <div class="panel-body">
            <div class="container"style="overflow-y:scroll;overflow-x:hidden;height:92vh;" id="chatbox">
            </div>
            <div class="panel-footer">
              <form id="chatform">
                <div class="input-group">
                  <input type="text" class="form-control" id="ChatInput" autocomplete="off">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="ChatButton">Send</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wordPopup" class="popup">
    <div class="popup-content">
      <div class="popup-header">
        <h2>Choose one of these words: </h2>
          <div id="timer"></div>
      </div>
      <div class="popup-body">
      </div>
    </div>
  </div>
</div>
</body>
<script src="js/index.js"></script>
</html>
